- name: java
  yum:
    name: 
      - java-11-openjdk-devel
      - java-11-openjdk
      - java-1.8.0-openjdk-devel
      - java-1.8.0-openjdk
    state: latest
    
- name: bash_profile
  shell: export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-11.0.8.10-0.el7_8.x86_64
  
- name: install mvnw 
  shell: ./mvnw package    
  args:
    creates: /home/centos/spring-petclinic/target/*.jar
    chdir: /home/centos/spring-petclinic

- name: java jar
  shell: 'nohup java -jar /home/centos/spring-petclinic/target/*.jar  & ' 
  
